<div class="signup-container">
    <h2>Signup</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phone_number" required>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender" required>
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
          <mat-option value="Other">Other</mat-option>
        </mat-select>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit">Signup</button>
    </form>
    <div class="login-button">
      <button mat-raised-button color="accent" (click)="navigateToLogin()">Login</button>
    </div>
  </div>
  